@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.6;
}