@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.6;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.5rem;
}

span {
    font-size: 1.2rem;
}