.conteudo_principal {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0px auto;
    padding: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #bec2ca;
}

.card_principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}